@model KillerApp.Models.GameViewModels.GameViewModel
@using KillerApp.Objects
@{
    ViewData["Title"] = "Game";
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/SearchSpeedrun.js"></script>
<link href="~/css/Game.css" rel="stylesheet" />


<div id="GameInfo" class="col-md-3 profile-box">
    <div class="profile-box-content">
        <h2 class="">@Model.game.Name</h2>
        <img alt="/images/NoIMG.png" src="~/images/NoIMG.png" class="img img-responsive profile-image">
        <ul id="GameInfo" class="container details no-padding">
            <li><p><span class="glyphicon glyphicon-calendar"></span> @Model.game.ReleaseDate.ToShortDateString()</p></li>
            <li><p><span class="glyphicon glyphicon-modal-window"></span> @Model.game.Console</p></li>
        </ul>
        <hr />
        <ul id="GameInfo" class="container details no-padding">
            <li><p><span class="glyphicon glyphicon-calendar"></span> #Runs</p></li>
            <li><p><span class="glyphicon glyphicon-modal-window"></span> #Help</p></li>
            <li><p><span class="glyphicon glyphicon-modal-window"></span> #Help</p></li>
        </ul>
    </div>

</div>

<div>
    <div>
        @{
            var sessionName = new Byte[20];
            bool nameOK = Context.Session.TryGetValue("_Name", out sessionName);
        }
        @if (nameOK)
        {
            <div id="new-run">
                <br />
                @Html.ActionLink("Add Run", "AddRun", "Game", routeValues: new { id = Model.leaderbord.ID })
            </div>
        }
    </div>
    <h3>Search table</h3>

    <input class="form-control" type="text" id="prodId" style="width:300px" />
    <h4 id="searchedProduct" class="modal-dialog"></h4>

    <ul class="nav nav-tabs" style="border-bottom:10px;margin-bottom:-400px;">
        @foreach (int val in Enum.GetValues(typeof(Objects.Enumeration.GameCategory.Categorie)))
        {
            var name = Enum.GetName(typeof(Objects.Enumeration.GameCategory.Categorie), val);
            <li id="@name" class="active" onclick="Test(@name)"><a id="@name" href="#">@name</a></li>

        }

    </ul>
    <table class="table" border="1">
        <thead>
            <tr>
                <th id="placement">Placement</th>
                <th>Player</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @{
                int i = 1;
            }
            @foreach (var speedrun in Model.leaderbord.Speedruns)
            {
                <tr id="@speedrun.Category">
                    <td hidden="hidden">@speedrun.Category</td>
                    <td>@i</td>
                    <td>@speedrun.Player</td>
                    <td>@speedrun.GetTime()</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>









